@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css";
h1 {
    border-bottom: 1px solid #d3d3d3;
    font-size: 3rem;
}

img {
    width: 200px;
    display: block;
}

h2 {
    font-size: 2rem;
}

footer a {
    margin: 20px;
}

footer {
    text-align: center;
    border-top: 1px solid #d3d3d3;
}
